<h1>マイページ編集</h1>

  <%= form_with(model: @customer, url:customers_information_path, local: true, method: :patch) do |f| %>
  <table class="customer-edit col-xl-8">
   <tr>
    <th><%= f.label :"ニックネーム" %></th>
    <td><%= f.text_field :name %></td>
   </tr>

   <tr>
    <th><%= f.label :"ライダースキル" %></th>
    <td><%= f.text_field :skill %></td>
   </tr>
   
   <tr>
    <th><%= f.label :"乗車頻度" %></th>
    <td><%= f.text_field :frequency %></td>
   </tr>
   
   <tr>
    <th><%= f.label :"自己紹介" %></th>
    <td><%= f.text_field :introduction %></td>
   </tr>

   <tr>
    <th><%= f.label :"会員ステータス" %>
     <td>
      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
      <%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
     </td>
   </tr>
  </table>
  <br>
  <br>
  <div class="btn-class text-center">
   <%= f.submit '変更を保存', class: "btn btn-success w-25" %>
  </div>
  <% end %>