<body>
  <main>
    <div class="container mt-5">
      <div class="title">
        <h3>Myバイク投稿</h3>
      </div>

      <div class="row">
        <div class="col-md-12 offset-md-3 mt-5 actions">
          <%= form_with model: @review, url:mybike_reviews_path, local:true do |f| %>

            <table class="table table-borderless">
              <tbody>
                <tr>
                	<th class="col-lg-4"><%= f.label :車種選択 %></th>
                	<td><%= f.collection_select :item_id, Item.all, :id, :model, prompt: "選択してください" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :購入動機 %></th>
                  <td><%= f.text_area :motive, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :長所 %></th>
                  <td><%= f.text_area :merit, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :短所 %></th>
                  <td><%= f.text_area :demerit, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :アドバイス %></th>
                  <td><%= f.text_area :advice, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :点数評価 %></th>
                  <td><%= f.text_area :score, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4">タグ(,で区切ると複数タグ登録できます)</th>
                  <td><%= f.text_area :name,value: @tag_list, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :購入店舗名 %></th>
                  <td><%= f.text_area :store, size:"29*70" %></td>
                </tr>

                <tr>
                  <th class="col-lg-4"><%= f.label :住所 %></th>
                  <td><%= f.text_field :address, size:"29*70" %></td>
                </tr>
              </tbody>
            </table>
        </div>

          <div class="col-md-12 mt-5 text-center">
            <%= f.submit "投稿", class: "btn btn-success w-25" %>
          </div>
        <% end %>

      </div>
    </div>
    <br>
    <br>
  </main>
</body>