<h1>Myバイク投稿</h1>

<%= form_with model: @review, url:mybike_reviews_path, local:true do |f| %>

  <div class="field-group new_mybikereview">
	<%= f.label :車種選択, class: "col-lg-2" %></td>
	<%= f.collection_select :item_id, Item.all, :id, :model, prompt: "選択してください" %>
  </div>

  <div class="field-group new_mybikereview">
    <%= f.label :購入動機, class: "col-lg-2" %>
    <%= f.text_area :motive, size:"29*70" %>
  </div>
  <br>

  <div class="field-group new_mybikereview">
    <%= f.label :長所, class: "col-lg-2" %>
    <%= f.text_area :merit, size:"29*70" %>
  </div>
  <br>

  <div class="field-group new_mybikereview">
    <%= f.label :短所, class: "col-lg-2" %>
    <%= f.text_area :demerit, size:"29*70"%>
  </div>
  <br>

  <div class="field-group new_mybikereview">
    <%= f.label :アドバイス, class: "col-lg-2" %>
    <%= f.text_area :advice, size:"29*70"%>
  </div>
  <br>

  <div class="text-center mt-5 ml-2">
    <%= f.submit "投稿", class: "btn btn-success w-25" %>
  </div>

<% end %>