<h1>バイク編集</h1>

 <%= form_with model: @item, url:admin_item_path, local:true do |f| %>

    <div class="field-group new_item">
      <%= f.label :バイク画像, class: "col-lg-2" %>
      <%= f.file_field:image, accept:"image/*" %>
    </div>
    <br>

    <div class="field-group new_item">
      <%= f.label :車種, class: "col-lg-2" %>
      <%= f.text_field :model, size:"30*5" %>
    </div>
    <br>

    <div class="field-group new_item">
      <%= f.label :メーカー, class: "col-lg-2" %>
      <%= f.text_field :brand, size:"30*5" %>
    </div>
    <br>

    <div class="field-group new_item">
      <%= f.label :年式, class: "col-lg-2" %>
      <%= f.text_field :model_year, size:"30*5" %>
    </div>
    <br>

    <div class="field-group new_item">
      <%= f.label :排気量, class: "col-lg-2" %>
      <%= f.text_field :engine, size:"30*5" %> cc
    </div>
    <br>

    <div class="field-group new_item">
      <%= f.label :価格, class: "col-lg-2" %>
      <%= f.text_field :price, size:"30*5" %>
      <%= f.label :円 %>
    </div>
    <br>

    <div class="field-group new_item">
			<%= f.label :ジャンル, class: "col-lg-2" %></td>
			<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, prompt: "選択してください" %>
    </div>

    <div class="text-center mt-5 ml-2">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>

<% end %>