<body>
      <main>
        <div class="container mt-5">

          <div class="row">
            <div class="col-md-12 mt-5 offset-md-3">
              <div class="mb-4"></div>
              <div class="title">
                <h3>ログイン</h3>
              </div>
                <br>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div class="form-group mt-5">
                    <%= f.label :メールアドレス, class: "col-lg-3" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-3" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :パスワード, class: "col-lg-3"%>
                    <%= f.password_field :password, autocomplete: "current-password", class: "col-xs-3" %>
                  </div>

                  <%# if devise_mapping.rememberable? %>
                    <!--<div class="field">
                      <%#= f.check_box :remember_me %>
                      <%#= f.label :remember_me %>
                    </div>-->
                  <%# end %>
            </div>

                <div class="col-md-12 text-center">
                  <div class="actions ml-3 mt-5">
                    <%= f.submit "ログイン", class: "btn btn-success" %>
                  </div>
                </div>
                <% end %>

                <%= render "admin/shared/links" %>
          </div>
        </div>
        <div class="mb-5"></div>
        <br>
      </main>
    <div class="mb-5"></div>
    <br>
</body>