<%= form_with model: review, url: search_path, method: :get, local: true do |form| %>
  <%= form.select :sort_select, [ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['商品の値段が高い順', 'price'] ] %>
  <%= form.select :score, [ [10], [20], [30], [40], [50], [60], [70], [80], [90], [100] ], prompt: "点数評価" %>
  <%= form.select :price, [ [100000], [200000], [300000], [400000], [500000], [600000], [700000], [800000], [900000], [1000000] ], prompt: "価格" %>
  <%= form.submit %>
<% end %>

  <% tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(reviewtag_id: list.id) %>
    <%= "(#{list.reviews.count})" %>
  <% end %>


<table class="table review-table">
  <% reviews.each do |review| %>
    <tr>
      <td>
        <%= image_tag review.item.get_image, fallback: 'no_image.jpg', size:'120x120' %>
      </td>
      <td>
        <%= review.item.model %><br>
        <%= link_to customers_information_path(review.customer.id) do %>
          <%= review.customer.name %><br>
        <% end %>
        更新日：<%= review.created_at.strftime('%Y/%m/%d') %><br>
        点数評価：<%= review.score %>点<br>
        価格：<%= review.item.price %>円
      </td>
      <td class="text-center">
        <%= link_to bike_review_path(review.id) do %>
          <button class="btn btn-primary w-25 ml-5">詳細</button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>