<h1>Myバイク詳細</h1>

<div class="item-image">
  <%= image_tag @item.get_image, size: "400x300" %>
</div>

<table class="item-table", width="100%">
  <tr>
    <th width="20%">車種</th>
    <td><%= @item.model %></td>
  </tr>

  <tr>
    <th width="20%">メーカー</th>
    <td><%= @item.brand %></td>
  </tr>

  <tr>
    <th width="20%">年式</th>
    <td><%= @item.model_year %></td>
  </tr>

  <tr>
    <th width="20%">排気量</th>
    <td><%= @item.engine %></td>
  </tr>

  <tr>
    <th width="30%">価格</th>
    <td><%= @item.price %></td>
  </tr>
</table>

<table class="review-table", width="100%">
  <tr>
    <th width="20%">購入動機</th>
    <td><%= @review.motive %></td>
  </tr>

  <tr>
    <th width="20%">長所</th>
    <td><%= @review.merit %></td>
  </tr>

  <tr>
    <th width="20%">短所</th>
    <td><%= @review.demerit %></td>
  </tr>

  <tr>
    <th width="20%">これから買う方へ</th>
    <td><%= @review.advice %></td>
  </tr>
</table>